.banners {
	position: relative;
	display: flex;
	text-align: center;
	width: 103vw;
	overflow: hidden;
	padding: 2vw;
	left: -2vw;
	h3 {
		width: 22vw;
		transform: translateX(160vw);
		font-size: 2vw;
		transition: 0.5s;
	}
	.star {
		transform: translateX(160vw);
		transition: 0.5s;
		width: 22vw;
	}
	transform: translateX(-1vw);

	#banner {
		display: flex;
		align-items: center;
		background-color: #0d1321;
		color: white;
		padding: 4vw 0;
		transform: rotate(-2deg);
		z-index: 1;
		left: -10vw;
		.star {
			color: #d8fd56;
		}
	}
	#banner2 {
		display: flex;
		align-items: center;
		background-color: #d8fd56;
		color: #071013;
		padding: 4vw 0;
		transform: rotate(2deg);
		z-index: 0;

		.star {
			color: #6d79e2;
		}
	}
}
