@font-face {
	font-family: SharpGrotesk;
	src: url(../fonts/SharpGrotesk-Book25.otf);
}
@font-face {
	font-family: Silverfake;
	src: url(../fonts/Silverfake.otf);
}
@font-face {
	font-family: Figtree;
	src: url(../fonts/Figtree-Regular.otf);
}
