@font-face {
	font-family: SharpGrotesk-Book10;
	src: url(../fonts/SharpGrotesk-Book10.otf);
}
@font-face {
	font-family: SharpGrotesk-BlackItalic20;
	src: url(../../Raw_assets/Sharp_Grotesk/Sharp_Grotesk/SharpGrotesk-Book20.otf);
}
@font-face {
	font-family: SharpGrotesk-Book15;
	src: url(../../Raw_assets/Sharp_Grotesk/Sharp_Grotesk/SharpGrotesk-Black15.otf);
}
@font-face {
	font-family: SharpGrotesk-Book20;
	src: url(../../Raw_assets/Sharp_Grotesk/Sharp_Grotesk/SharpGrotesk-Black20.otf);
}
@font-face {
	font-family: SharpGrotesk-BlackItalic10;
	src: url(../../Raw_assets/Sharp_Grotesk/Sharp_Grotesk/SharpGrotesk-BlackItalic10.otf);
}
